{% extends "main.html" %}

<!-- Content -->
{% block content %}
  <h1>Ooops... the 404 page!</h1>
  <p>The URL you were looking for, does not exist (anymore).</p>
  <p>Have you tried the "Search" in the top right? Maybe the content has moved.</p>
  <p>
  <img src="/assets/search01.png">
  </p>

  <h2>Urban legend about 404</h2>
  <p>There is a popular urban legend that the 404 error code was chosen because it corresponds to the room number of a computer lab at CERN (the European Organization for Nuclear Research) where the first website was created. According to this legend, the room number 404 was chosen as the code for "Not Found" errors because the team working on the first website wanted to reference the room where the first website was created.

However, this is not true. The 404 error code was not chosen because it corresponds to a room number at CERN. The first website was created by Tim Berners-Lee at CERN in 1990 and the HTTP protocol was still being developed and standardized. The creators of the first web servers had to come up with a set of status codes to indicate the different outcomes of requests. The number 404 was chosen as the code for "Not Found" errors because it was one of the unused codes at the time, and it was not chosen because it related to CERN.

It's an urban legend that spread over time, but it is not based in any real fact.</p>
{% endblock %}