# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json
site_name: CHILI GraFx Guides
theme:
  name: material
  custom_dir: overrides
  logo: assets/CHILI_LOGOS_OK-02.svg
  features:
    - navigation.tabs
    - content.tabs.link
    - navigation.footer
    - content.footnote.tooltips
  font:
    text: Ubuntu
  palette:
    primary: grey
  icon:
    admonition:
        note: material/pencil
        example: material/test-tube
        danger: material/fire-alert

plugins:
  - redirects:
      redirect_maps:
        'CHILI-GraFx/releasenotes.md': 'release-notes/index.md'
        'CHILI_GraFx/users/transition/index.md': 'CHILI-GraFx/users/transition/index.md'
        'CHILI-GraFx/users/index.md': 'CHILI-GraFx/users/intro/index.md'
        'GraFx-Studio/releasenotes.md': 'release-notes/index.md'
        'releasenotes/index.md': 'release-notes/index.md'
  - search
  - awesome-pages
  - table-reader
#  - git-revision-date-localized:
#      enable_creation_date: true
#      fallback_to_build_date: true
#      type: iso-date  

markdown_extensions:
  - md_in_html
  - admonition
  - footnotes
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
      use_pygments: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - toc:
      toc_depth: 3
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/feedback.js

extra:
  social:
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/chili-publish/
      name: CHILI publish on LinkedIn
    - icon: fontawesome/brands/facebook
      link: https://www.facebook.com/CHILIPublish/
      name: CHILI publish on Facebook
    - icon: fontawesome/brands/github
      link: https://github.com/chili-publish
      name: CHILI publish on Github
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/CHILI_publish
      name: CHILI publish on Twitter aka X
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/chilipublish
      name: CHILI publish on Instagram
      
  consent:
    title: CHILI Grafx uses cookies
    description: >-
        This website uses cookies to improve user experience. By using our website you consent to all cookies in accordance with our Cookie Policy.
        <a href="https://www.chili-publish.com/legal/" target="_blank">CHILI publish Pravacy Statement</a>
    cookies:
      analytics:
        name: Google Analytics
        checked: true
  analytics:
    provider: google
    property: G-73R676NPTP
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/emoticon-happy-outline
          name: This page was helpful
          data: 1
          note: >-
            Thanks for your feedback!
        - icon: material/emoticon-sad-outline
          name: This page could be improved
          data: 0
          note: >-
            Thanks for your feedback! Let us know what you would change!
            <a href="https://forms.office.com/e/XPsgcHD0i0" target="_blank" rel="noopener">feedback form</a>


nav:
    - 'CHILI GraFx':
        - 'Introduction':                       'CHILI-GraFx/index.md'
        - 'Applications':               
            - 'Overview':                       'CHILI-GraFx/applications/overview/index.md'
            - 'Editor Comparison':              'CHILI-GraFx/applications/editor-comparison/index.md'
        - 'Upgrade from My CHILI publish':      'CHILI-GraFx/guides/onboarding/upgrade/index.md'
        - 'Concepts':
            - 'Template Management':            'CHILI-GraFx/concepts/template-management/index.md'
            - 'Environments':                   'CHILI-GraFx/concepts/environments/index.md'
            - 'Renders':                        'CHILI-GraFx/concepts/renders/index.md'
            - 'Storage':                        'CHILI-GraFx/concepts/storage/index.md'
            - 'Sandbox':                        'CHILI-GraFx/concepts/sandbox/index.md'
            - 'Subscriptions' :                 'CHILI-GraFx/concepts/subscriptions/index.md'
            - 'Federated Single Sign On':       'CHILI-GraFx/concepts/federated-single-sign-on/index.md'
            - 'FSSO OIDC':                      'CHILI-GraFx/concepts/federated-single-sign-on/oidc/index.md'
            - 'FSSO SAML':                      'CHILI-GraFx/concepts/federated-single-sign-on/saml/index.md'
            - 'FSSO Glossary':                  'CHILI-GraFx/concepts/federated-single-sign-on/glossary/index.md'
            - 'Integrations' :                  'CHILI-GraFx/concepts/integrations/index.md'
        - 'Platform Administration':
            - 'General Administration' :        'CHILI-GraFx/admin/index.md'
            - 'User management' :
                - 'Intro' :                     'CHILI-GraFx/users/intro/index.md'
                - 'Scope' :                     'CHILI-GraFx/users/scope/index.md'
                - 'Roles' :                     'CHILI-GraFx/users/roles/index.md'
                - 'Template Designer Seat' :    'CHILI-GraFx/users/template-designer/index.md'
                - 'Users & Invitation' :        'CHILI-GraFx/users/creation/index.md'
                - 'Deactivate Users' :        'CHILI-GraFx/users/deactivate/index.md'
                - 'Delete Users' :            'CHILI-GraFx/users/delete/index.md'
                - 'Transition' :                'CHILI-GraFx/users/transition/index.md'
        - 'How to':
            - 'Change Roles & Access' :         'CHILI-GraFx/guides/role-access-update/index.md'
            - 'Manage Individual Access' :      'CHILI-GraFx/guides/manage-individual-access/index.md'
            - 'Manage User Groups' :            'CHILI-GraFx/guides/manage-user-groups/index.md'
            - 'Manage Group Membership' :       'CHILI-GraFx/guides/manage-group-membership/index.md'
            - 'Manage Group Access' :           'CHILI-GraFx/guides/manage-group-access/index.md'
            - 'Example: Federated groups with Entra ID' :             'CHILI-GraFx/guides/example-federated-groups-entraid/index.md'
            - 'Create GraFx Studio template' :  'CHILI-GraFx/guides/create-studio-template/index.md'
            - 'Create GraFx Publisher template': 'CHILI-GraFx/guides/create-publisher-template/index.md'
            - 'Manage Collections' :            'CHILI-GraFx/guides/manage-collections/index.md'
            - 'Manage Integrations' :           'CHILI-GraFx/guides/integrations/index.md'
            - 'Setup FSSO' :                    'CHILI-GraFx/guides/setup-fsso/index.md'
        - 'Integrate CHILI GraFx':              'CHILI-GraFx/integration/index.md'
        - 'Step by step onboarding':
            - 'Intro' :                         'CHILI-GraFx/guides/onboarding/intro/index.md'
            - 'User Account Migration' :        'CHILI-GraFx/guides/onboarding/migration/index.md'
            - 'Logging in' :                    'CHILI-GraFx/guides/onboarding/logging-in/index.md'
            - 'Find your way around' :          'CHILI-GraFx/guides/onboarding/navigation/index.md'
            - 'Applications' :                  'CHILI-GraFx/guides/onboarding/applications/index.md'
            - 'GraFx Publisher' :
                - 'GraFx Publisher intro':      'CHILI-GraFx/guides/onboarding/publisher/index.md'
            - 'GraFx Studio':
                - 'GraFx Studio intro':         'CHILI-GraFx/guides/onboarding/studio/index.md'
            - 'GraFx Media' :
                - 'GraFx Media intro':          'CHILI-GraFx/guides/onboarding/media/index.md'
        - 'Trust':
            - 'Introduction':                   'CHILI-GraFx/trust/introduction/index.md'
            - 'Security Policy':                'CHILI-GraFx/trust/security-policy/index.md'
            - 'Compliance':                     'CHILI-GraFx/trust/compliance/index.md'
            - 'Data centers':                   'CHILI-GraFx/trust/data-centers/index.md'
            - 'GDPR':                           'CHILI-GraFx/trust/gdpr/index.md'
            - 'Definitions':                    'CHILI-GraFx/trust/definitions/index.md'

    - 'GraFx Studio':
        - 'Introduction':                       'GraFx-Studio/index.md'
        - 'Application overview':
            - 'Workspace elements':             'GraFx-Studio/overview/workspace-elements/index.md'
            - 'Mouse or Trackpad':              'GraFx-Studio/overview/movement/index.md'
            - 'Hamburger Menu':                 'GraFx-Studio/overview/hamburger-menu/index.md'
            - 'Sidebar Tools':                  'GraFx-Studio/overview/sidebar/index.md'
            - 'Document Canvas':                'GraFx-Studio/overview/document-canvas/index.md'
            - 'Page or Document':               'GraFx-Studio/overview/document/index.md'
            - 'Properties panel':               'GraFx-Studio/overview/properties/index.md'
            - 'Bottom Quick Tools':             'GraFx-Studio/overview/bottom-quicktools/index.md'
            - 'Animation':                      'GraFx-Studio/overview/animation/index.md'
            - 'Layouts':                        'GraFx-Studio/overview/layouts/index.md'
            - 'Frames & Timeline':              'GraFx-Studio/overview/timeline/index.md'
            - 'Stylekit':                       'GraFx-Studio/overview/stylekits/index.md'
        - 'Concepts':
            - 'Frames':                         'GraFx-Studio/concepts/frames/index.md'
            - 'Layers':                         'GraFx-Studio/concepts/layers/index.md'
            - 'Layouts':                        'GraFx-Studio/concepts/layouts/index.md'
            - 'Snapping':                       'GraFx-Studio/concepts/snapping/index.md'
            - 'Shapes':                         'GraFx-Studio/concepts/shapes/index.md'
            - 'Variables':                      'GraFx-Studio/concepts/variables/index.md'
            - 'Actions':                        'GraFx-Studio/concepts/actions/index.md'
            - 'GraFx Genie':                    'GraFx-Studio/concepts/grafx-genie/index.md'
            - 'Action Helper Functions':        'GraFx-Studio/concepts/helper-functions/index.md'
            - 'Crop':                           'GraFx-Studio/concepts/crop/index.md'
            - 'Blend modes':                    'GraFx-Studio/concepts/blendmodes/index.md'
            - 'Animation':                      'GraFx-Studio/concepts/animation/index.md'
            - 'Stylekits':                      'GraFx-Studio/concepts/stylekits/index.md'
            - 'Keyboard Shortcuts':             'GraFx-Studio/concepts/shortcuts/index.md'
        - 'How to: Design':
            - 'Hello world':                    'GraFx-Studio/guides/hello-world/index.md'
            - 'Create Layouts':                 'GraFx-Studio/guides/layouts/index.md'
            - 'Image Frames':                   'GraFx-Studio/guides/image-frame/index.md'
            - 'Shape Frames':                   'GraFx-Studio/guides/shape-frame/index.md'
            - 'Add fonts':                      'GraFx-Studio/guides/add-fonts/index.md'
            - 'Paragraph Styles':               'GraFx-Studio/guides/paragraphstyles/index.md'
            - 'Character Styles':               'GraFx-Studio/guides/characterstyles/index.md'
            - 'Swatches':                       'GraFx-Studio/guides/swatches/index.md'
            - 'Crop images':                    'GraFx-Studio/guides/cropping/index.md'
            - 'Blend modes':                    'GraFx-Studio/guides/blendmodes/index.md'
        - 'How to: Animate':
            - 'Animate my frame':               'GraFx-Studio/guides/animate-frame/index.md'
        - 'How to: Automate':
            - 'Define template variables':      'GraFx-Studio/guides/template-variables/define/index.md'
            - 'Add template variables':         'GraFx-Studio/guides/template-variables/assign/index.md'
            - 'Create Actions':                 'GraFx-Studio/guides/actions/create/index.md'
            - 'Write Actions Javascript':       'GraFx-Studio/guides/actions/javascript/index.md'
            - 'Example: Change Layout':         'GraFx-Studio/guides/actions/example-changelayout/index.md'
            - 'Example: Hide frame':            'GraFx-Studio/guides/actions/example-hideframe/index.md'
            - 'Example: Multiple frame hide/show': 'GraFx-Studio/guides/actions/example-multipleframes/index.md'
            - 'Example: Currency change':       'GraFx-Studio/guides/actions/example-currency/index.md'
        - 'How to: Output':
            - 'MP4':                            'GraFx-Studio/guides/output/mp4/index.md'
            - 'GIF':                            'GraFx-Studio/guides/output/gif/index.md'
            - 'JPG and PNG':                    'GraFx-Studio/guides/output/image/index.md'
            - 'PDF':                            'GraFx-Studio/guides/output/pdf/index.md'
        - 'How to: My projects':
            - 'Create a project':               'GraFx-Studio/guides/create-projects/index.md'
        - 'Integrate GraFx studio':
            - 'Getting started':                'GraFx-Studio/integration/getting-started/index.md'
            - 'Local environment':              'GraFx-Studio/integration/environment/index.md'
            - 'NPM & Webpack':                  'GraFx-Studio/integration/npm/index.md'
            - 'CHILI Editor SDK':               'GraFx-Studio/integration/studio-sdk/index.md'
            - 'First build':                    'GraFx-Studio/integration/first-build/index.md'
            - 'Custom app':                     'GraFx-Studio/integration/custom-app/index.md'
    - 'GraFx Publisher':
        - 'Introduction':                       'GraFx-Publisher/index.md'
        - 'Guides':
          - 'Hello world':                      'GraFx-Publisher/guides/hello-world/index.md'
        - 'JavaScript':
          - 'Intro':                            'GraFx-Publisher/guides/javascript/index.md'
          - 'Examples':
            - 'Document':                       'GraFx-Publisher/guides/javascript/document/index.md'
            - 'Frames':                         'GraFx-Publisher/guides/javascript/frames/index.md'
            - 'Pages':                          'GraFx-Publisher/guides/javascript/pages/index.md'
            - 'Colors':                         'GraFx-Publisher/guides/javascript/colors/index.md'
            - 'Variables':
              - 'General':                      'GraFx-Publisher/guides/javascript/variables/index.md'
              - 'List':                         'GraFx-Publisher/guides/javascript/variables/list/index.md'
        - 'Plugins':
            - 'Conversion':                     'GraFx-Publisher/convert/intro/index.md'
            - 'for Adobe速 InDesign速':             'GraFx-Publisher/convert/Adobe-InDesign/index.md'
            - 'for Adobe速 Illustrator速':          'GraFx-Publisher/convert/Adobe-Illustrator/index.md'
            

    - 'GraFx Media':
        - 'Introduction':                       'GraFx-Media/index.md'
        - 'Application overview':
            - 'Application elements':           'GraFx-Media/overview/elements/index.md'
            - 'Supported File Types':           'GraFx-Media/overview/filetypes/index.md'
        - 'Concepts':
            - 'Media vs DAM':                   'GraFx-Media/concepts/media-vs-dam/index.md'
        - 'How to':
            - 'Browse media':                   'GraFx-Media/guides/browse/index.md'
            - 'Search media':                   'GraFx-Media/guides/browse/search/index.md'
            - 'Manage folders':                 'GraFx-Media/guides/manage-folders/index.md'
            - 'Upload media':                   'GraFx-Media/guides/upload-media/index.md'
#           'Download media':                   'GraFx-Media/guides/download/index.md'
#           'Sort and Filter media':            'GraFx-Media/guides/browse/sort/index.md'
    - 'GraFx Fonts':
        - 'Introduction':                       'GraFx-Fonts/index.md'
        - 'Application overview':
            - 'Application elements':           'GraFx-Fonts/overview/elements/index.md'
            - 'Supported Font Types':           'GraFx-Fonts/overview/supported-font-types/index.md'
        - 'Concepts':
            - 'Fonts vs Families':              'GraFx-Fonts/concepts/fonts-vs-families/index.md'
            - 'Fonts in GraFx Publisher':       'GraFx-Fonts/concepts/fonts-in-publisher/index.md'

        - 'How to':
            - 'Upload fonts':                   'GraFx-Fonts/guides/upload-fonts/index.md'
            - 'Manage fonts':                   'GraFx-Fonts/guides/manage-fonts/index.md'

    - 'GraFx Stylekits':
        - 'Introduction':                       'GraFx-Stylekits/index.md'

#    - 'Solutions':
#        - 'Multiple adds in Real Estate':       'solutions/realestate.md'

    - 'Release notes':
        - 'Recent':                             'release-notes/index.md'
        - '2023':                               'release-notes/2023.md'
        - '2022':                               'release-notes/2022.md'
        - 'Experimental':                       'release-notes/experimental/index.md'

    - 'Developer Center':
        - 'Overview':                           'GraFx-Developers/index.md'
        - 'Scopes':                             'GraFx-Developers/scopes/index.md'
        - 'GraFx Studio UI':                    'GraFx-Developers/grafx-studio/ui/index.md'
        - 'GraFx Studio SDK':                   'https://chili-publish.github.io/studio-sdk/index.html'
        - 'Platform API reference' :
            - 'Swagger' :                       'https://api.chiligrafx.com/swagger/index.html'
        - 'Environment API reference':
            - 'Swagger' :                       'https://sandbox1.chili-publish-sandbox.online/grafx/swagger/index.html'
