# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json
site_name: CHILI GraFx Guides
theme:
  name: material
  logo: assets/CHILI_LOGOS_OK-02.svg
  features:
    - navigation.tabs
    - content.tabs.link
  font:
    text: Ubuntu
  palette:
    primary: grey
  icon:
    admonition:
        note: material/fire-alert
  
plugins:
  - search
  - awesome-pages
  - tags:
      tags_file: tags.md
#  - git-revision-date-localized:
#      fallback_to_build_date: true

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - attr_list
  - pymdownx.tabbed:
      alternate_style: true 
  - pymdownx.highlight:
      anchor_linenums: true
      use_pygments: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences        
  - toc:
      toc_depth: 3
  
extra_css:
  - stylesheets/extra.css  

nav:
    - 'CHILI GraFx':
        - 'Introduction':                       'CHILI_GraFx/intro.md'
        - 'Setting up CHILI GraFx':             'CHILI_GraFx/setup.md'
        - 'Migrating from My CHILI publish':    'CHILI_GraFx/mycpmigration.md'
        - 'Platform Admin':
            - 'General Admin' :                 'CHILI_GraFx/admin.md'
            - 'User management' :
                - 'Intro' :                     'CHILI_GraFx/user_management_intro.md'
                - 'Scope' :                     'CHILI_GraFx/user_management_scope.md'
                - 'Roles' :                     'CHILI_GraFx/user_management_roles.md'
                - 'Users & Invitation' :        'CHILI_GraFx/user_management_users.md'
                - 'Scenarios' :                 'CHILI_GraFx/user_management_scenarios.md'
            - 'Subscriptions' :                 'CHILI_GraFx/subscriptions.md'
            - 'Environments' :                  'CHILI_GraFx/environments.md'
#        - 'Application overview':
#            - 'Panel 1' :                       'CHILI_GraFx/panel1.md'
        - 'How to':
            - 'Create a new environment' :      'CHILI_GraFx/how_to/create_environment.md'
        - 'Integrate CHILI GraFx':
            - 'Getting started' :               'CHILI_GraFx/integration/getting_started.md'
        - 'Platform API reference' :            
            - 'Intro' :                         'CHILI_GraFx/platform_api/intro.md'
            - 'Reference' :                     'CHILI_GraFx/platform_api/reference.md'
        - 'Environment API reference':          
            - 'Intro' :                         'CHILI_GraFx/environment_api/intro.md'
            - 'Reference' :                     'CHILI_GraFx/environment_api/reference.md'

#       - 'Release notes':
#            - 'Latest':                         'CHILI_GraFx/releasenotes/latest.md'
    - 'GraFx Studio':
        - 'Introduction':                       'GraFx_studio/intro.md'
        - 'Setting up GraFx studio':            'GraFx_studio/setup.md'
        - 'Application overview':
            - 'Workspace elements':             'GraFx_studio/workspace_elements.md'
            - 'Headerbar':                      'GraFx_studio/headerbar.md'
            - 'Top Quick Tools':                'GraFx_studio/topquicktools.md'
            - 'Document Canvas':                'GraFx_studio/documentcanvas.md'
            - 'Page or Document':               'GraFx_studio/page_document.md'
            - 'Properties panel':               'GraFx_studio/properties.md'
            - 'Export':                         'GraFx_studio/export.md'
            - 'Bottom Quick Tools':             'GraFx_studio/bottomquicktools.md'
#            - 'Quick Tools Details':            'GraFx_studio/quicktoolsdetail.md'
#            - 'Bottom Panel':                   'GraFx_studio/bottompanel.md'
            - 'Properties':                     'GraFx_studio/properties.md'
            - 'Animation':                      'GraFx_studio/animation.md'
            - 'Layouts':                        'GraFx_studio/layouts.md'
            - 'Layers & Timeline':              'GraFx_studio/layers_timeline.md'
            - 'Stylekit':                       'GraFx_studio/stylekitpanel.md'
        - 'Concepts':
            - 'Template vs Publication':        'GraFx_studio/concept/template_publication.md'
            - 'Frames':                         'GraFx_studio/concept/frames.md'
            - 'Layers':                         'GraFx_studio/concept/layers.md'
            - 'Layouts':                        'GraFx_studio/concept/layouts.md'
            - 'Variables':                      'GraFx_studio/concept/variables.md'
            - 'Animation':                      'GraFx_studio/concept/animation.md'
            - 'Stylekit':                       'GraFx_studio/concept/stylekit.md'
            - 'Shortcuts':                      'GraFx_studio/concept/shortcuts.md'
        - 'How to: Design documents'    :
            - 'Create Layouts':                 'GraFx_studio/how_to/layouts.md'
            - 'Animate my frame':               'GraFx_studio/how_to/animate_frame.md'
            - 'Define variables':               'GraFx_studio/how_to/define_variables.md'
            - 'Organize variables':             'GraFx_studio/how_to/organize_variables.md'
            - 'Add variables to document':      'GraFx_studio/how_to/variables.md'
#        - 'How to: Extend GraFx studio':
#            - 'GraFx studio INDD plugin' :      'GraFx_studio/plugin/studio_indesign.md'
#            - 'GraFx studio AI plugin' :        'GraFx_studio/plugin/studio_ai.md'
        - 'How to: Output':
#            - 'Settings':                       'GraFx_studio/how_to/output_settings.md'
            - 'MP4':                            'GraFx_studio/how_to/mp4_output.md'
            - 'GIF':                            'GraFx_studio/how_to/gif_output.md'
        - 'Integrate GraFx studio':
            - 'Getting started' :               'GraFx_studio/integration/getting_started.md'
            - 'Local environment' :             'GraFx_studio/integration/local_environment.md'
            - 'NPM & Webpack' :                 'GraFx_studio/integration/npm_webpack.md'
            - 'CHILI Editor SDK' :              'GraFx_studio/integration/chili_editor_sdk.md'
            - 'First build' :                   'GraFx_studio/integration/first_build.md'
            - 'Custom app' :                    'GraFx_studio/integration/custom_app.md'
        - 'SDK reference':
            - Overview:                         'GraFx_studio/sdk/README.md'
            - ... | flat | GraFx_studio/sdk/**
#        - 'Environment API':                    '/CHILI_GraFx/environment_api/overview/'
#        - 'Release notes':
#            - 'Latest':                         'GraFx_studio/releasenotes/latest.md'
        - 'Early Access':
            - 'Workspace Release notes':        'GraFx_studio/early_access/releasenotes.md'
            - 'Getting Started':                'GraFx_studio/early_access/gettingstarted.md'
    - 'GraFx Publisher':
        - 'Introduction':                       'GraFx_publisher/intro.md'

    - 'GraFx Publisher':
        - 'Introduction':                       'GraFx_publisher/intro.md'
        - 'The manual':                         'GraFx_publisher/manual.md'
        - 'Integration':                        'GraFx_publisher/integration.md'
        - 'Knowledge Base':
            - 'Smarter Templates':              'GraFx_publisher/smarter_templates.md'
        - 'Release notes':
            - 'Latest':                         'GraFx_publisher/releasenotes/latest.md'
            - 'GraFX publisher 2022':           'GraFx_publisher/releasenotes/2022.md'

    - 'GraFx Media':
        - 'Introduction':                       'GraFx_media/intro.md'
#        - 'Release notes':
#            - 'Latest':                         'GraFx_media/releasenotes/latest.md'
#        - 'Environment API':                    '/CHILI_GraFx/environment_api/overview/'

    - 'GraFx Fonts':
        - 'Introduction':                       'GraFx_fonts/intro.md'
#        - 'Release notes':
#            - 'Latest':                         'GraFx_fonts/releasenotes/latest.md'
#        - 'Environment API':                    '/CHILI_GraFx/environment_api/overview/'

    - 'GraFx Stylekits':
        - 'Introduction':                       'GraFx_stylekits/intro.md'
#        - 'Release notes':
#            - 'Latest':                         'GraFx_stylekits/releasenotes/latest.md'
#        - 'Environment API':                    '/CHILI_GraFx/environment_api/overview/'

    - 'On-prem':
        - 'Introduction':                       'on-premise/intro.md'
        - 'My CHILI publish':                   'on-premise/mycp.md'
        - 'CHILI publisher':                    'on-premise/chili_publisher.md'

    - 'Solutions':
        - 'Multiple adds in Real Estate':       'solutions/realestate.md'


    - 'Developer center':                       
        - 'Overview':                           'GraFx_devcenter/overview.md'
        - 'Platform API reference' :            '/CHILI_GraFx/platform_api/overview/'
        - 'Environment API':                    '/CHILI_GraFx/environment_api/overview/'