:root {
  --chilired: #FD0048;
  --secondary: #74E5D3;
  --tertiary: #644FCA;
}

.reddot
{
	display:inline-block; 
	width:20px; 
	height:20px; 
	background-color: var(--chilired); 
	border-radius:50%; 
	color:white; 
	text-align:center; 
	line-height:20px;
	margin: 0 6px 0 0;
}

.md-typeset table:not([class]) td
{
	vertical-align: middle;
}

.chilired {
	color: var(--chilired);
}
.introdiv {
	font-size:2.5em;
	font-weight:bold;
}
img[alt=applogo] {
	width: 200px;
}
img[alt=smallapplogo] {
	width: 70px;
}
img[alt=steps] {
	margin-left: 50px;
	border: 1pt #DDDDDD solid;
}
p:has(img[alt=releasenotes]) {
	width: 100%;
	text-align: center;
}
p:has(img[alt=steps]) {
	width: 60%;
	text-align: center;
}

img[alt=releasenotes] {
	/* height: 250px; */
}

img[alt=screenshot] {
	width: 40%;
	min-width: 250px;
}

img[alt=screenshot-fullwidth] {
	max-height: 300px;
}

p img[alt=svg_icon] {
	width: 100px;
}
img[alt=rn_icon] {
	width: 75px;
}
.md-header {
	background-color: #F0F0F0;
	color: #000;
}
.md-tabs {
	background-color: #F0F0F0;
	color: #000;
}
.md-tabs__link--active {
	color: var(--md-typeset-a-color);
	font-weight: bold;
}
[dir=ltr] .md-header__title {
	margin-left: 0;
}
.md-typeset h1 {
	color: #010068;
	font-weight: bold;
	font-family: Satoshi, Ubuntu, sans-serif;
}
h2 {
	background-color: #fff;
 /* Green */
	border: none;
	color: #010068;
	padding: 5px 0px;
	border-radius: 3px;
	text-align: left;
	display: block;
	font-weight: bold;
}
.md-typeset h2 {
	font-weight: bold;
	font-family: Satoshi, Ubuntu, sans-serif;
}
h3 {
	background-color: #FFF;
	border: none;
	color: #010068;
	padding: 5px 0px;
	border-radius: 3px;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	border-bottom: 0px solid;
	width: 100%;
}
.md-typeset h3 {
	font-weight: bold;
	font-family: Satoshi, Ubuntu, sans-serif;
}

.md-typeset table:not([class]) th {
    vertical-align: middle;
}

.md-typeset table:not([class]) {
    border: 0rem solid var(--md-typeset-table-color);
}

.md-typeset table:not([class]) td {
    border-top: 0rem solid var(--md-typeset-table-color);
}
