.chilired {
	color: #FF0048;
}
.introdiv {
	font-size:2.5em;
	font-weight:bold;
}
img[alt=applogo] {
	width: 200px;
}
img[alt=steps] {
	margin-left: 50px;
	border: 1pt #DDDDDD solid;
}
p:has(img[alt=releasenotes]) {
	width: 100%;
	text-align: center;
}
p:has(img[alt=steps]) {
	width: 60%;
	text-align: center;
}

img[alt=releasenotes] {
	/* height: 250px; */
}

p img[alt=svg_icon] {
	width: 100px;
}
p img[alt=rn_icon] {
	width: 100px;
}
.md-header {
	background-color: #F0F0F0;
	color: #000;
}
.md-tabs {
	background-color: #F0F0F0;
	color: #000;
}
.md-tabs__link--active {
	color: var(--md-typeset-a-color);
	font-weight: bold;
}
[dir=ltr] .md-header__title {
	margin-left: 0;
}
.md-typeset h1 {
	color: #010068;
	font-weight: bold;
	font-family: Satoshi, Ubuntu, sans-serif;
}
h2 {
	background-color: #fff;
 /* Green */
	border: none;
	color: #010068;
	padding: 5px 0px;
	border-radius: 3px;
	text-align: left;
	display: block;
	font-weight: bold;
}
.md-typeset h2 {
	font-weight: bold;
	font-family: Satoshi, Ubuntu, sans-serif;
}
h3 {
	background-color: #FFF;
	border: none;
	color: #010068;
	padding: 5px 0px;
	border-radius: 3px;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	border-bottom: 0px solid;
	width: 100%;
}
.md-typeset h3 {
	font-weight: bold;
	font-family: Satoshi, Ubuntu, sans-serif;
}
