:root {
  --chilired: #FD0048;
  --secondary: #74E5D3;
  --tertiary: #644FCA;
}

.reddot {
	display:inline-block; 
	width:20px; 
	height:20px; 
	background-color: var(--chilired); 
	border-radius:50%; 
	color:white; 
	text-align:center; 
	line-height:20px;
	margin: 0 6px 0 0;
}

.md-typeset table:not([class]) td
{
	vertical-align: middle;
}

.chilired {
	color: var(--chilired);
}
.introdiv {
	font-size:2.5em;
	font-weight:bold;
}
img[alt=applogo] {
	width: 200px;
}
img[alt=smallapplogo] {
	width: 70px;
}
img[alt=tinyapplogo] {
	--md-icon-size: 3.0em;
	vertical-align: middle;
	display: inline-flex;
	height: var(--md-icon-size);
}
img[alt=steps] {
	margin-left: 50px;
	border: 1pt #DDDDDD solid;
}
p:has(img[alt=releasenotes]) {
	width: 100%;
	text-align: center;
}
p:has(img[alt=steps]) {
	width: 60%;
	text-align: center;
}

img[alt=releasenotes] {
	/* height: 250px; */
}

img[alt=screenshot] {
	width: 40%;
	min-width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.9), rgba(240, 240, 240, 0.9));
    border-radius: 10px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
}

img[alt=screenshotsmall] {
	max-height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.9), rgba(240, 240, 240, 0.9));
    border-radius: 10px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
}

img[alt=screenshot-full] {
	max-height: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.9), rgba(240, 240, 240, 0.9));
    border-radius: 10px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;

}

p img[alt=svg_icon] {
	width: 100px;
}

img[alt="rn_icon"] {
  --md-icon-size: 3.0em;
  vertical-align: middle;
  display: inline-block;
  height: var(--md-icon-size);
}

.version-label {
  font-size: 0.8em;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 0.5em;
}

.md-header {
	background-color: #F0F0F0;
	color: #000;
}
.md-tabs {
	background-color: #F0F0F0;
	color: #000;
}

.md-nav__link--active {
	text-decoration: underline;
}

.md-tabs__item--active {
	color: var(--chilired);
	font-weight: bold;
}

.md-tabs__link--active {
	color: var(--md-typeset-a-color);
	font-weight: bold;
}
[dir=ltr] .md-header__title {
	margin-left: 0;
}
.md-typeset h1 {
	color: #010068;
	font-weight: bold;
	font-family: Satoshi, Ubuntu, sans-serif;
}
h2 {
	background-color: #fff;
 /* Green */
	border: none;
	color: #010068;
	padding: 5px 0px;
	border-radius: 3px;
	text-align: left;
	display: block;
	font-weight: bold;
}
.md-typeset h2 {
	font-weight: bold;
	font-family: Satoshi, Ubuntu, sans-serif;
}
h3 {
	background-color: #FFF;
	border: none;
	color: #010068;
	border-radius: 3px;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	border-bottom: 0px solid;
	width: 100%;
}
.md-typeset h3 {
	font-weight: bold;
	font-family: Satoshi, Ubuntu, sans-serif;
	margin: 0.4em 0 0em;
}

.md-typeset table:not([class]) th {
    vertical-align: middle;
}

.md-typeset table:not([class]) {
    border: 0rem solid var(--md-typeset-table-color);
}

.md-typeset table:not([class]) td {
    border-top: 0rem solid var(--md-typeset-table-color);
}