name: Links checker

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Link Checker
        uses: lycheeverse/lychee-action@v1.8.0
        with:
          # All supported file formats to be verified and accept 403 (Forbidden) as correct link
          args: --verbose -a 200,202,403 './**/*.md' './**/*.html' './**/*.rst' --exclude '^https:\/\/cp' --exclude 'https://login.chiligrafx.com/login/callback' --exclude 'https://my.chili-publish.com' --exclude 'https://chili-publish.com/CGXGroups'
          format: markdown
          # Add job summary in github action
          jobSummary: true
          # Fail job if one or more links are failing
          fail: true

           
   
